time 
tkinter 

https://docs.python.org/3/library/time.html
https://docs.python.org/3/library/tkinter.html#:~:text=The%20tkinter%20package%20(%E2%80%9CTk%20interface,well%20as%20on%20Windows%20systems.